.header{
    width: 1423px;
    height: 57px;
    border: 1px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
body{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
li{
    list-style-type: none;
    display: inline;
    align-items: center;
    
}
.VSCode-Link{
    width: 166.883px;
    height: 24px;
    padding: 19px 15px 15px 36px;
    background-size: 24px 24px;
    color: #C3D0E5;
    cursor: pointer;
    float: left;
    letter-spacing: -0.2px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    text-decoration-line: none;
    text-size-adjust: 100%;
    background-color: transparent;
    text-decoration: none;
    top: -20px;
    left: 50px;
    font-size: 20px;
    font-weight: 600;
}
a:link, a:visited, a:hover, a:active {
    color: #C3D0E5;
    background-color: transparent;
    text-decoration: none;
}
.Docs-Link{
    width: 35.453px;
    height: 58px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    color: #9BA3B4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    text-align: center;
    left: 23.5px;
    top: -7px;
}
.Updates-Link{
    width: 59.969px;
    height: 58px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    color: #9BA3B4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    text-align: center;
    left: 21.5px;
    top: -7px;
}
.Updates-Link{
    width: 59.969px;
    height: 58px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    color: #9BA3B4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    text-align: center;
    left: 21.5px;
    top: -7px;
}
.Blog-Link{
    width: 33.039px;
    height: 58px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    color: #9BA3B4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    text-align: center;
    left: 21.5px;
    top: -7px;
}
.API-Link{
    width: 24.758px;
    height: 58px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    color: #9BA3B4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    text-align: center;
    left: 21.5px;
    top: -7px;
}
.Extensions-Link{
    width: 76.688px;
    height: 58px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    color: #9BA3B4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    text-align: center;
    left: 21.5px;
    top: -7px;
}
.FAQ-Link{
    width: 29.914px;
    height: 58px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    color: #9BA3B4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    text-align: center;
    left: 21.5px;
    top: -7px;
}
.GithubCopilot-Link{
    width: 24.758px;
    height: 58px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    color: #9BA3B4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    text-align: center;
    left: 21.5px;
    top: -7px;
}
.theme{
    width: 20px;
    height: 30px;
    padding: 1px 6px 1px 6px;
    align-items: center;
    margin-right: 4px;
    background-color: black;
    box-shadow: none;
    border-bottom-color: rgb(155, 163, 180);
    border-bottom-width: 0px;
    box-sizing: border-box;
    border: 0px;
    display: inline-block;
    position: relative;
    top: -10px;
    left: 130px;
    appearance: button;
}
.theme-icon-light{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}
.search{
    position: absolute;
    top: 15px;
    right: 200px;
    text-decoration-color: rgb(155, 163, 180);
}
.search-box{
    width: 200px;
    height: 32px;
    padding: 5px 12px 5px 36px;
    border: 1px;
    background-color: rgba(0, 0, 0, 0);
    background-attachment: scroll;
    border-color: rgba(255, 255, 255, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-style: solid;
    border-bottom-width: 1px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    text-align: start;
}
.input-group-btn{
    width: 28px;
    height: 20px;
    border-collapse: separate;
    color: rgb(155, 163, 180);
    display: block;
    font-weight: 400;
    left: 8px;
    position: absolute;
    white-space-collapse: collapse;
    top: 6px;
    bottom: 6px;
    right: 164px;

}
.btn{
    width: 16px;
    height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -1px;
    align-items: flex-start;
    appearance: button;
    cursor: text;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-style: none;
}
.download-button{
    cursor: pointer;
    display: block;
    list-style-type: none;
    position: relative;   
    text-size-adjust: 100%;
    width: 74.008px;
    height: 16px;
    top: 0px;
}
.download-btn{
    background-color: rgb(0, 120, 212);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    border: none;
    padding: 8px 16px 8px 16px;
    position: relative;
    top: -60px;
    left: 1190px;
    display: inline-block;
}
.updates-container{
    width: 1391px;
    height: 54.398px;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 60px;
}
.Inner-Updates-Container{
    width: 1240px;
    height: 38.398px;
    padding: 8px 40px 8px 40px;
    margin-left: 19.5px;
    margin-right: 19.5px;
    position: relative;
    top: 0px;
}
.Updates-Message{
    color: rgb(159, 177, 209);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}
#banner-link-updates{
    text-decoration: underline;
    text-decoration-color: rgb(77, 170, 252);
    color: rgb(77, 170, 252);
}
.hero-text{
    width: 1240px;
    height: 320.312px;
    padding-top: 16px;
    position: relative;
    top: 111px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}
#hero-text{
    width: 1000px;
    height: 172.797px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    color: rgb(195, 208, 229);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    text-wrap-style: balance;
}
.Primary-Buttons{
    width: 418.961px;
    height: 47.711px;
    box-sizing: border-box;
    color: rgb(155, 163, 180);
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    row-gap: 10px;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    
}
.Download-Content{
    width: 418.961px;
    height: 112.516px;
    box-sizing: border-box;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;

}
.download-for-windows-button{
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    align-items: flex-start;
    background-color: rgb(0, 120, 212);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
}
.Git-Copilot-Button{
    width: 172.635px;
    height: 45.711px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    background-color: rgb(37, 41, 46);
    border-style: solid;
    border: 1px;
    color: rgb(195, 208, 229);
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    text-decoration-color: rgb(195, 208, 229);
}
#Dowload-Matrix-Label{
    width: 418.961px;
    height: 19.203px;
    margin-top: 8px;
    margin-bottom: 10px;
    color: rgb(159, 177, 209);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-size-adjust: 100%;

}
#download-button-insiders{
    color: rgb(77, 170, 252);
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;

}
.terms{
    width: 418.961px;
    height: 17.602px;
    margin-top: 8px;
    margin-bottom: 10px;
    color: rgb(155, 163, 180);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    transition-timing-function: ease-out;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
}
.demo-video-container{
    width: 1240px;
    height: 832.211px;
    aspect-ratio: 1.49 / 1;
    display: block;
    position: relative;
    top: 140px;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}